$color-white: #fff;
$color-light-font-2: #dfdfdf;
$color-dark-font: #444;
$color-link-font: #1872ab;

$color-back-dark: #1872ab;
$color-back-mid: #1f95e0;
$color-back-light: #cddddd;
$color-back-lighter: #fcfcfc;

$color-border-1: #dedede;
$color-border-2: #c5d3d3;
$color-border-3: #3ab4b5;
$color-border-4: #427474;
$color-border-5: #1a7dbc;
$color-border-error: #f40000;

$color-font-1: #fafafa;
$color-font-2: #dfdfdf;
$color-font-3: #427474;
$color-font-4: #444;
$color-font-5: #1872ab;

$padding-small: 5px;
$padding-normal: 10px;
$padding-large: 20px;
